@import './base.css';

#side-panel {
  position: fixed;
  border: 1px solid black;
  right: 0;
  top: 0;
  min-width: 400px;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
}
.showGrid .b-element {
  border: 1px dotted #8f8f8f;
}
.b-element.hovered {
  border: 1px dashed green;
  padding-top: 15px;
}
.b-element.active {
  border: 1px dashed red;
}
.b-element .b-actions-toolbar {
  position: absolute;
  margin-left: 5px;
  margin-top: -15px;
  display: none;
  font-size: 12px;
  background-color: aquamarine;
}
.b-element .b-actions-toolbar span {
  padding: 0 5px;
}
.b-element .b-actions-toolbar svg {
  width: 14px;
}
.b-element.hovered > .b-actions-toolbar {
  display: block;
}
.b-img {
  display: inline-block;
}
.b-img img {
  width: 100%;
  display: block;
}
.b-horizontal-menu {
  padding: 0;
}
.b-horizontal-menu li {
  float: left;
}